* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
  background-color: #f6f7f9;
  color: #111;
}

button {
  font-size: 16px;
}

input, textarea {
  font-size: 16px;
}
